VITE_SUPABASE_URL=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_PROJECT_ID=""

SUPABASE_URL=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

9ROUTER_API_KEY=""
ENCRYPTION_KEY=""

STRIPE_SANDBOX_API_KEY=""
STRIPE_LIVE_API_KEY=""
PAYMENTS_SANDBOX_WEBHOOK_SECRET=""
PAYMENTS_LIVE_WEBHOOK_SECRET=""

DASHBOARD_V2_ENABLED="false"
AI_WIZARD_ENABLED="false"
CREDITS_STORE_ENABLED="false"
CONNECTORS_ENABLED="false"
DOMAINS_ENABLED="false"
SKILLS_ENABLED="false"
COLLABORATION_ENABLED="false"
CUSTOM_AI_ENABLED="false"
